<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
  *{padding: 0;margin: 0;}
    ul{
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;
      height:480px;
    }
    li{
        width: 5%;
        height:80px;
        list-style-type: none;
        text-align: center;
    }
    li span{
        display: inline-block;
        width:90%;
        height:70px;
        font-size: 12px;
        line-height: 30px;
        text-decoration: none;
        background: #f3f3f3;
        color: #333;
        text-align: center;
    }
    
    li:nth-of-type(4),li:nth-of-type(16){
        height:180px;
    }
    
    li:nth-of-type(75),
    li:nth-of-type(77){
        height:120px;
    }
    li:nth-of-type(96),
    li:nth-of-type(100){
        margin-top:120px;
    }

    /*ul{
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;
      height:240px;
    }
    li{
        width: 5%;
        height:40px;
        list-style-type: none;
        text-align: center;
    }
    li span{
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
        text-decoration: none;
        border-radius: 50%;
        background: #f3f3f3;
        color: #333;
        text-align: center;
    }

    li:nth-of-type(5){
        height:50px;
    }

    li:nth-of-type(17){
        height:90px;
    }
    
    li:nth-of-type(75),
    li:nth-of-type(77){
        height:60px;
    }
    li:nth-of-type(96),
    li:nth-of-type(100){
        margin-top: 60px;
    }*/

    i{font-size: 0;}
    .cur span{position: fixed;height: 100%;left: 0;top: 0;width: 100%;font-size: 30px;}
    .cur span:before{content:"点击关闭";display:block;position: absolute;left: 38%;bottom: 10%;font-size: 2em;}
    .cur i{font-size:2em;line-height:2.1em;margin:0 10px;}
    input{
      padding: 1rem;
      border:1px solid #333;
    }
  </style>
</head>
<body>
找人：<input type="text">
  <ul>
   <!-- li{$}*102 -->
   <li><span>1</span></li>
   <li><span>2</span></li>
   <!-- <li><span style="background:#c69;color:#fff;">主围</span></li> -->
   <li><span>3</span></li>
   <li><span>4</span></li>
   <li><span>5</span></li>
   <li><span>6</span></li>
   <li><span>7</span></li>
   <li><span>8</span></li>
   <li><span>9</span></li>
   <li><span>10</span></li>
   <li><span>11</span></li>
   <li><span>12</span></li>
   <li><span>13</span></li>
   <li><span>14</span></li>
   <li><span>15</span></li>
   <li><span>16</span></li>
   <li><span>17</span></li>
   <li><span>18</span></li>
   <li><span>19</span></li>
   <li><span>20</span></li>
   <li><span>21</span></li>
   <li><span>22</span></li>
   <li><span>23</span></li>
   <li><span>24</span></li>
   <li><span>25</span></li>
   <li><span>26</span></li>
   <li><span>27</span></li>
   <li><span>28</span></li>
   <li><span>29</span></li>
   <li><span>30</span></li>
   <li><span>31</span></li>
   <li><span>32</span></li>
   <li><span>33</span></li>
   <li><span>34</span></li>
   <li><span>35</span></li>
   <li><span>36</span></li>
   <li><span>37</span></li>
   <li><span>38</span></li>
   <li><span>39</span></li>
   <li><span>40</span></li>
   <li><span>41</span></li>
   <li><span>42</span></li>
   <li><span>43</span></li>
   <li><span>44</span></li>
   <li><span>45</span></li>
   <li><span>46</span></li>
   <li><span>47</span></li>
   <li><span>48</span></li>
   <li><span>49</span></li>
   <li><span>50</span></li>
   <li><span>51</span></li>
   <li><span>52</span></li>
   <li><span>53</span></li>
   <li><span>54</span></li>
   <li><span>55</span></li>
   <li><span>56</span></li>
   <li><span>57</span></li>
   <li><span>58</span></li>
   <li><span>59</span></li>
   <li><span>60</span></li>
   <li><span>61</span></li>
   <li><span>62</span></li>
   <li><span>63</span></li>
   <li><span>64</span></li>
   <li><span>65</span></li>
   <li><span>66</span></li>
   <li><span>67</span></li>
   <li><span>68</span></li>
   <li><span>69</span></li>
   <li><span>70</span></li>
   <li><span>71</span></li>
   <li><span>72</span></li>
   <li><span>73</span></li>
   <li><span>74</span></li>
   <li><span>75</span></li>
   <li><span>76</span></li>
   <li><span>77</span></li>
   <li><span>78</span></li>
   <li><span>79</span></li>
   <li><span>80</span></li>
   <li><span>81</span></li>
   <li><span>82</span></li>
   <li><span>83</span></li>
   <li><span>84</span></li>
   <li><span>85</span></li>
   <li><span>86</span></li>
   <li><span>87</span></li>
   <li><span>88</span></li>
   <li><span>89</span></li>
   <li><span>90</span></li>
   <li><span>91</span></li>
   <li><span>92</span></li>
   <li><span>93</span></li>
   <li><span>94</span></li>
   <li><span>95</span></li>
   <li><span>96</span></li>
   <li><span>97</span></li>
   <li><span>98</span></li>
   <li><span>99</span></li>
   <li><span>100</span></li>
   <li><span>101</span></li>
   <li><span>102</span></li>
  </ul>
<script src="http://js.3conline.com/min2/temp/v2/lib-zepto.js" charset="utf-8"></script>
<script>
  var d = {
 "1": {
  "title": "汽车编辑中心",
  "贺磊": "1",
  "陈棉雄": "2",
  "林思进": "3",
  "杨雯": "4",
  "郭贵娜": "5",
  "杜炬豪": "6",
  "朱焕壁": "7",
  "王慧": "8",
  "陈东铖": "9",
  "蔡耿彬": "10",
  "吴海斌": "11",
  "邹英": "12"
 },
 "2": {
  "title": "COO办/总经办/电编",
  "叶丽群": "1",
  "李眉": "2",
  "梁冰梅": "3",
  "胡昆惠": "4",
  "杨天颖": "5",
  "张安琪": "6",
  "赖斐": "7",
  "何曦东": "8",
  "彭军丽": "9",
  "吕用翩": "10",
  "黎婵娟": "11",
  "廖华": "12"
 },
 "3": {
  "title": "移动产品中心",
  "杨波": "1",
  "钟佳": "2",
  "郭正": "3",
  "吴祀悦": "4",
  "何敬东": "5",
  "韦小雪": "6",
  "傅兴方": "7",
  "孔繁奇": "8",
  "卢振涛": "9",
  "吴昌泊": "10",
  "谢楚裕": "11",
  "黎国凯": "12"
 },
 "4": {
  "title": "亲子网编辑部",
  "严峰": "1",
  "吴佳子": "2",
  "甄俊俊": "3",
  "张乐": "4",
  "李凯": "5",
  "李慧": "6",
  "陈嘉敏": "7",
  "林佳琳": "8",
  "李碧怡": "9",
  "方泽娜": "10",
  "凌春燕": "11",
  "郑亮": "12"
 },
 "5": {
  "title": "汽车编辑中心",
  "曾俊华": "1",
  "潘洪瀚": "2",
  "刘峰": "3",
  "杨丹丹": "4",
  "谢毅科": "5",
  "徐永强": "6",
  "谢志敏": "7",
  "翟境飞": "8",
  "江新星": "9",
  "毛捷": "10",
  "朱健": "11",
  "刘蓉": "12"
 },
 "6": {
  "title": "汽车编辑中心",
  "陈坚伟": "1",
  "王佳淮": "2",
  "彭文洲": "3",
  "严家卓": "4",
  "黄晧": "5",
  "张青云": "6",
  "陈建泉": "7",
  "谭永源": "8",
  "杨延德": "9",
  "徐艺哲": "10",
  "李向辉": "11",
  "沈栋成": "12"
 },
 "7": {
  "title": "电脑网编辑部",
  "陈旭华": "1",
  "吴剑烽": "2",
  "陈圣钦": "3",
  "汤群兴": "4",
  "林恒": "5",
  "徐泽珊": "6",
  "张茜亮": "7",
  "吴利虹": "8",
  "范俊辉": "9",
  "张健灵": "10",
  "赵连钰": "11",
  "胡剑飞": "12"
 },
 "8": {
  "title": "移动产品中心",
  "林龙杰": "1",
  "龙长春": "2",
  "朱妙森": "3",
  "梁智聪": "4",
  "巫小玲": "5",
  "黄永坤": "6",
  "邓宇荣": "7",
  "兰振华": "8",
  "曾俊杰": "9",
  "曹梦林": "10",
  "陈有胜": "11",
  "徐胜德": "12"
 },
 "9": {
  "title": "亲子网编辑部",
  "曾静波": "1",
  "刘小静": "2",
  "霍映丹": "3",
  "茹艳萍": "4",
  "林欢": "5",
  "丁笑": "6",
  "黄方方": "7",
  "陈文珊": "8",
  "潘佳": "9",
  "高小平": "10",
  "肖波": "11",
  "陈奕瑜": "12"
 },
 "10": {
  "title": "亲子网销售部",
  "路欣": "1",
  "刘俊健": "2",
  "周伟成": "3",
  "李榛": "4",
  "康宜娟": "5",
  "梁洁": "6",
  "张天义": "7",
  "李飞燕": "8",
  "王芬": "9",
  "林冬": "10",
  "吴文静": "11",
  "李亚鑫": "12"
 },
 "11": {
  "title": "汽车网编辑中心",
  "赵慧婷": "1",
  "熊敬": "2",
  "蒋浩": "3",
  "朱仕永": "4",
  "吴鸿伟": "5",
  "张泽豪": "6",
  "何家宇": "7",
  "官煜": "8",
  "陆杰豪": "9",
  "李璇": "10",
  "林智雄": "11",
  "陈小妹": "12"
 },
 "12": {
  "title": "汽车编辑中心",
  "严晓宝": "1",
  "罗斌": "2",
  "莫小玲": "3",
  "陈聪颖": "4",
  "陈晓雪": "5",
  "陈闻霈": "6",
  "龚梦": "7",
  "蔡丞君": "8",
  "黄浩": "9",
  "梁永炼": "10",
  "莫键聪": "11",
  "丘垂杰": "12"
 },
 "13": {
  "title": "电脑网编辑部",
  "庄妙璇": "1",
  "林晓娜": "2",
  "曹伟业": "3",
  "余记荣": "4",
  "赵德锋": "5",
  "彭棣聪": "6",
  "陆智恒": "7",
  "曾志超": "8",
  "周勇": "9",
  "姚良威": "10",
  "梁淑云": "11",
  "钟志结": "12"
 },
 "14": {
  "title": "移动产品中心",
  "花家章": "1",
  "曹睿智": "2",
  "陆战波": "3",
  "曾文杰": "4",
  "林玉中": "5",
  "罗广业": "6",
  "梁家杰": "7",
  "陈伟威": "8",
  "陈卫彬": "9",
  "吴健斌": "10",
  "黄敏锋": "11",
  "曹钊源": "12"
 },
 "15": {
  "title": "亲子网编辑部",
  "姚凤舞": "1",
  "魏克丽": "2",
  "林柳媚": "3",
  "张苗": "4",
  "邓晓岚": "5",
  "吴东怡": "6",
  "施艳敏": "7",
  "肖丽云": "8",
  "罗丹": "9",
  "朱莹莹": "10",
  "黄睿": "11",
  "陈小萍": "12"
 },
 "16": {
  "title": "亲子网编辑部/销售部",
  "陆秀清": "1",
  "林伟平": "2",
  "林芹旦": "3",
  "李薇": "4",
  "黎欢欢": "5",
  "梁晓丹": "6",
  "黄周珠": "7",
  "黄嘉露": "8",
  "陈淑怡": "9",
  "吴小璠": "10",
  "王莹": "11",
  "李方敏": "12"
 },
 "17": {
  "title": "汽车网编辑中心",
  "林彬彬": "1",
  "黎卓彦": "2",
  "孙颖韵": "3",
  "欧阳永乐": "4",
  "陈杰": "5",
  "迟东宁": "6",
  "彭嘉光": "7",
  "朱泽鑫": "8",
  "黎嘉铭": "9",
  "朱小姗": "10",
  "邓远凤": "11",
  "林慧晶": "12"
 },
 "18": {
  "title": "移动产品中心",
  "申敏": "1",
  "骆成斌": "2",
  "伍文婷": "3",
  "吴凯威": "4",
  "周健威": "5",
  "罗宝恩": "6",
  "韩泳莹": "7",
  "林泽农": "8",
  "洪东明": "9",
  "张金煌": "10",
  "苏蓓蓓": "11",
  "卢长伟": "12"
 },
 "19": {
  "title": "移动产品中心/亲子网编辑部",
  "陈子洋": "1",
  "朱锋华": "2",
  "帅红": "3",
  "胡志祥": "4",
  "吴惠璇": "5",
  "曾庆仪": "6",
  "杨名海": "7",
  "陈鹏": "8",
  "周炳忻": "9",
  "乐嘉仪": "10",
  "梁华丽": "11",
  "陈小霞": "12"
 },
 "20": {
  "title": "亲子网编辑部",
  "梁敏": "1",
  "方健华": "2",
  "廖秋兰": "3",
  "王妍": "4",
  "彭聪丽": "5",
  "刘薇": "6",
  "蒙宇萍": "7",
  "李思": "8",
  "何汝莹": "9",
  "冼子敏": "10",
  "姚奕": "11",
  "何钰玲": "12"
 },
 "21": {
  "title": "汽车网编辑中心",
  "汤燚": "1",
  "王万鹏": "2",
  "吴晓清": "3",
  "伍志铭": "4",
  "冯碧霞": "5",
  "陈宇杰": "6",
  "黄永世": "7",
  "曾雅君": "8",
  "刘鹏浩": "9",
  "邱志杰": "10",
  "吴嘉昕": "11",
  "赖达聪": "12"
 },
 "22": {
  "title": "家居网编辑部",
  "于振东": "1",
  "高翔": "2",
  "曹诗卉": "3",
  "张荆钗": "4",
  "陈雪婷": "5",
  "梅丽贤": "6",
  "梁铭杰": "7",
  "顾文静": "8",
  "骆蔚娴": "9",
  "吴佳佳": "10",
  "何裕龙": "11",
  "李向琼": "12"
 },
 "23": {
  "title": "电脑网编辑部",
  "严宇辰": "1",
  "邝伟钧": "2",
  "陈张武": "3",
  "钟佑明": "4",
  "何学进": "5",
  "宋艳": "6",
  "岑思": "7",
  "黄越": "8",
  "梁俊坚": "9",
  "梁佩怡": "10",
  "黄业敏": "11",
  "罗富山": "12"
 },
 "24": {
  "title": "前端开发部",
  "陈家明": "1",
  "张泽云": "2",
  "张娟": "3",
  "区肇蓉": "4",
  "杨明": "5",
  "谢永双": "6",
  "李粉": "7",
  "徐焕林": "8",
  "郑少凡": "9",
  "庄焕滨": "10",
  "李彦龙": "11",
  "张伟健": "12"
 },
 "25": {
  "title": "前端开发部/移动产品中心",
  "张进勇": "1",
  "何镇威": "2",
  "李冠淳": "3",
  "陈东贤": "4",
  "胡罗": "5",
  "卢德智": "6",
  "钟吉龙": "7",
  "任鹏": "8",
  "欧建强": "9",
  "许伟杰": "10",
  "李楚柠": "11",
  "黄睿澍": "12"
 },
 "26": {
  "title": "行政部",
  "胡宇霞": "1",
  "卢伶俐": "2",
  "李远芳": "3",
  "林美玲": "4",
  "王慧文": "5",
  "麦绮霞": "6",
  "叶达好": "7",
  "邓群萍": "8",
  "杨舜华": "9",
  "许晓婷": "10",
  "王枣东": "11",
  "钟肖娟": "12"
 },
 "27": {
  "title": "汽车网编辑中心",
  "张景森": "1",
  "许绪棉": "2",
  "谭沛胜": "3",
  "谢成明": "4",
  "王仕政": "5",
  "柯池": "6",
  "莫国星": "7",
  "高红": "8",
  "黄志宏": "9",
  "骆冬慧": "10",
  "王晓莉": "11",
  "陈胜博": "12"
 },
 "28": {
  "title": "家居网编辑部",
  "庄少珊": "1",
  "李满满": "2",
  "谭文蕾": "3",
  "许素云": "4",
  "尹小辉": "5",
  "林文倩": "6",
  "谢莹": "7",
  "谢茜": "8",
  "欧燕彬": "9",
  "谢妮艳": "10",
  "谭锦君": "11",
  "麦美琼": "12"
 },
 "29": {
  "title": "电脑网编辑部",
  "林锋": "1",
  "杨健婷": "2",
  "林浩达": "3",
  "陈豪": "4",
  "姚思恩": "5",
  "邓小云": "6",
  "黎剑南": "7",
  "梁浩星": "8",
  "刘家海": "9",
  "杜建荣": "10",
  "梁永健": "11",
  "陈妍": "12"
 },
 "30": {
  "title": "前端开发部",
  "陈洁": "1",
  "陈国航": "2",
  "胡博术": "3",
  "陈新垲": "4",
  "钟嵘": "5",
  "杜子阳": "6",
  "杨志芳": "7",
  "苏先裕": "8",
  "谢杏君": "9",
  "许雪芳": "10",
  "谢晓珊": "11",
  "姚灿城": "12"
 },
 "31": {
  "title": "项目支持中心/前端开发部",
  "吴美玲": "1",
  "李伟玲": "2",
  "何婷": "3",
  "苏佳文": "4",
  "梁丽幸": "5",
  "郭学敏": "6",
  "黄锦文": "7",
  "王鹏": "8",
  "曾博玲": "9",
  "文青": "10",
  "张亚茹": "11",
  "张冰玲": "12"
 },
 "32": {
  "title": "行政部/人力资源部",
  "邹晓东": "1",
  "古锦权": "2",
  "郭洪涛": "3",
  "郑敏": "4",
  "丁璐": "5",
  "简翠君": "6",
  "简见娣": "7",
  "黄洁莹": "8",
  "唐娜": "9",
  "张颖": "10",
  "林宛烨": "11"
 },
 "33": {
  "title": "汽车网编辑中心",
  "曾祥兵": "1",
  "朱志延": "2",
  "赵婷婷": "3",
  "陈启贞": "4",
  "蔡战": "5",
  "李喆": "6",
  "李智": "7",
  "张捷操": "8",
  "黄恒乐": "9",
  "彭煜曦": "10",
  "潘春繁": "11",
  "钟家莹": "12"
 },
 "34": {
  "title": "家居网编辑部",
  "敖加乳": "1",
  "黄娟": "2",
  "黄子盈": "3",
  "吴焰超": "4",
  "梁幸贤": "5",
  "李召莉": "6",
  "简泳仪": "7",
  "陈晓航": "8",
  "林育清": "9",
  "梁嘉丽": "10",
  "王汝甜": "11",
  "司万利": "12"
 },
 "35": {
  "title": "电脑网编辑部",
  "吴伟鑫": "1",
  "邝子恒": "2",
  "陈蕾": "3",
  "李敏超": "4",
  "潘康杰": "5",
  "吴豪杨": "6",
  "胡之欣": "7",
  "汪亮": "8",
  "孙恺菁": "9",
  "周源培": "10",
  "邓智豪": "11",
  "张磊军": "12"
 },
 "36": {
  "title": "前端开发部",
  "白舜": "1",
  "吴志平": "2",
  "莫奕东": "3",
  "吕明伟": "4",
  "岑锦超": "5",
  "李海萍": "6",
  "宋颖纯": "7",
  "叶俊亭": "8",
  "闵志雄": "9",
  "廖晓彬": "10",
  "许爱爱": "11",
  "蔡宝坚": "12"
 },
 "37": {
  "title": "项目支持中心",
  "李溪": "1",
  "郑洁纯": "2",
  "许永佳": "3",
  "邓华诚": "4",
  "符晶谊": "5",
  "韦金玉": "6",
  "黄丽玲": "7",
  "黎晶晶": "8",
  "曾美玉": "9",
  "高文博": "10",
  "林琳": "11",
  "李轩岳": "12"
 },
 "38": {
  "title": "人力资源部/工作人员",
  "淳莉": "1",
  "翟静如": "2",
  "谢娟": "3",
  "张航": "4",
  "殷雨": "5",
  "李瑞贤": "6",
  "杨程成": "7",
  "张骏驰": "8",
  "王飞": "9",
  "刘洁纯": "10",
  "曾翠纯": "11",
  "蔡舒黛": "12"
 },
 "39": {
  "title": "汽车网编辑中心",
  "陈子锋": "1",
  "谢鹏": "2",
  "高磊": "3",
  "兰博文": "4",
  "陈驰": "5",
  "韦熙宇": "6",
  "刘志军": "7",
  "林锡希": "8",
  "何俊林": "9",
  "周建强": "10",
  "林建楸": "11",
  "韩健": "12"
 },
 "40": {
  "title": "家居网编辑部",
  "滕夏枫": "1",
  "林伟仙": "2",
  "邓梓业": "3",
  "谭明静": "4",
  "金杨茜子": "5",
  "丁澍炫": "6",
  "钟志和": "7",
  "余梓荣": "8",
  "黄子欣": "9",
  "郭美怡": "10",
  "刘怡": "11",
  "杨胜": "12"
 },
 "41": {
  "title": "电脑网编辑部",
  "李婷": "1",
  "凌志林": "2",
  "梁正立": "3",
  "陈嘉惠": "4",
  "陈颂新": "5",
  "李健": "6",
  "周婷": "7",
  "李林": "8",
  "周楷坚": "9",
  "蔡珊": "10",
  "麦碧燕": "11",
  "梁智杰": "12"
 },
 "42": {
  "title": "信息部/法务部",
  "李燕芬": "1",
  "张明珍": "2",
  "黄敏芳": "3",
  "何余玲": "4",
  "张欢": "5",
  "郭小敏": "6",
  "张泽娜": "7",
  "徐诗敏": "8",
  "吴小琼": "9",
  "谢配雯": "10",
  "刘梦祎": "11",
  "林文辉": "12"
 },
 "43": {
  "title": "数据中心/项目支持中心",
  "孙宾": "1",
  "黄勇": "2",
  "郭丽娟": "3",
  "徐欣": "4",
  "吴晓静": "5",
  "郭伟创": "6",
  "黄宝玲": "7",
  "林小芬": "8",
  "陈佳": "9",
  "颜俊全": "10",
  "王斌": "11",
  "陈影淇": "12"
 },
 "44": {
  "title": "人力资源部/工作人员",
  "刘新玲": "1",
  "缪丹": "2",
  "张雨濛": "3",
  "林静静": "4",
  "潘健勇": "5",
  "连嘉杰": "6",
  "吴琼": "7",
  "摄像师": "12"
 },
 "45": {
  "title": "汽车网编辑中心",
  "李洋": "1",
  "郭睿": "2",
  "卜华开": "3",
  "李威": "4",
  "潘宇民": "5",
  "杜庆炜": "6",
  "宗泽": "7",
  "崔童": "8",
  "蔡滨": "9",
  "林国兴": "10",
  "区广贤": "11",
  "朱涛": "12"
 },
 "46": {
  "title": "家居网编辑部/销售部",
  "张明慧": "1",
  "王玥": "2",
  "王梅兰": "3",
  "陈新叶": "4",
  "林泽兰": "5",
  "秦芳": "6",
  "洪鸿彬": "7",
  "司徒锦斌": "8",
  "卢佩文": "9",
  "蔡东昕": "10",
  "黄美仪": "11",
  "李丽双": "12"
 },
 "47": {
  "title": "电脑网编辑部",
  "何佼姣": "1",
  "陈维彬": "2",
  "卢力坚": "3",
  "罗卓钊": "4",
  "蒋凤仪": "5",
  "林海萍": "6",
  "林颖欣": "7",
  "徐晓纯": "8",
  "曾耀新": "9",
  "李思源": "10",
  "梅雪妍": "11",
  "施东奇": "12"
 },
 "48": {
  "title": "深圳办/信息部/网络系统部",
  "何海畅": "1",
  "胡婷婷": "2",
  "尹佩": "3",
  "谢浩桦": "4",
  "李海玲": "5",
  "李莲": "6",
  "黎陈诚": "7",
  "陈桂香": "8",
  "梁汝媚": "9",
  "许雅晴": "10",
  "汪碧康": "11",
  "陈健杨": "12"
 },
 "49": {
  "title": "数据中心",
  "郑约慧": "1",
  "李达荣": "2",
  "陈金梅": "3",
  "徐荣": "4",
  "秦佳炜": "5",
  "彭先博": "6",
  "邱伟苗": "7",
  "周月雯": "8",
  "郑韩如": "9",
  "潘洪柱": "10",
  "张小英": "11",
  "蔡浪威": "12"
 },
 "50": {
  "title": "人力资源部/工作人员",
  "陈穗婉": "1",
  "林煜": "2",
  "罗艳": "3",
  "于洋": "4",
  "陈妙": "5",
  "区碧翠": "6",
  "吴晓艳": "7",
  "黄琬萍": "8",
  "郭子君": "9",
  "黄思华": "10",
  "李诗瑶": "11",
  "吕沐霖": "12"
 },
 "51": {
  "title": "汽车网渠道部/编辑中心",
  "陈亚沪": "1",
  "杨明": "2",
  "唐郭航": "3",
  "邹广辉": "4",
  "常志豪": "5",
  "陈秋怡": "6",
  "卢晓晴": "7",
  "杨晓婷": "8",
  "张丽芳": "9",
  "林海婷": "10",
  "陈德恺": "11",
  "杨万科": "12"
 },
 "52": {
  "title": "财务部/家居网编辑部",
  "高霞": "1",
  "熊慧萍": "2",
  "陈慧": "3",
  "陈琳": "4",
  "关叶珍": "5",
  "李民娟": "6",
  "黄东萍": "7",
  "袁春桃": "8",
  "温婉婷": "9",
  "欧阳雪玲": "10",
  "郝雅竹": "11"
 },
 "53": {
  "title": "电脑网编辑部",
  "孙培淇": "1",
  "吴国权": "2",
  "李健豪": "3",
  "唐俊钊": "4",
  "黎轶呈": "5",
  "马乙敏": "6",
  "皮婕": "7",
  "吴星星": "8",
  "叶晓彬": "9",
  "全建江": "10",
  "何德添": "11",
  "吴天然": "12"
 },
 "54": {
  "title": "深圳办",
  "刘娟": "1",
  "赵琅莉": "2",
  "吴颖": "3",
  "郎亚楠": "4",
  "顾雪闻": "5",
  "利钰钏": "6",
  "徐康博": "7",
  "黄山松": "8",
  "李慧梓": "9",
  "胡晔": "10",
  "周莹": "11",
  "冯清丽": "12"
 },
 "55": {
  "title": "数据中心",
  "张燕玲": "1",
  "陈焕增": "2",
  "陈泽亮": "3",
  "陈欣颖": "4",
  "文静静": "5",
  "汪江": "6",
  "方跃龙": "7",
  "李启昌": "8",
  "梁健辉": "9",
  "文旭聪": "10",
  "赵超": "11",
  "刘冠平": "12"
 },
 "56": {
  "title": "网络系统部",
  "王佳崇": "1",
  "林浩": "2",
  "林亮德": "3",
  "苏建权": "4",
  "董用彬": "5",
  "余方明": "6",
  "夏卓彦": "7",
  "陈海雁": "8",
  "何忠": "9",
  "赖培贤": "10",
  "欧彬": "11",
  "谭凯琪": "12"
 },
 "57": {
  "title": "汽车网渠道部",
  "于伟霞": "1",
  "叶剑锋": "2",
  "耿雁飞": "3",
  "朱洪渠": "4",
  "赖文粲": "5",
  "匡志成": "6",
  "颜军": "7",
  "陈思雅": "8",
  "翟晓玲": "9",
  "王汉明": "10",
  "詹定媛": "11",
  "郭安琪": "12"
 },
 "58": {
  "title": "资金部/财务部",
  "徐茂燕": "1",
  "何志莹": "2",
  "陈怡": "3",
  "何启媚": "4",
  "梁蕴贤": "5",
  "钟瑞红": "6",
  "梁珊珊": "7",
  "徐佩琴": "8",
  "李鑫": "9",
  "林海妍": "10",
  "吕艳红": "11",
  "陈育静": "12"
 },
 "59": {
  "title": "电脑网编辑部",
  "邱嘉成": "1",
  "石宇": "2",
  "马秀莹": "3",
  "黄嘉威": "4",
  "杨洋": "5",
  "伍明慧": "6",
  "李婉琪": "7",
  "曾凡桂": "8",
  "麦志豪": "9",
  "练晓华": "10",
  "唐智江": "11",
  "周智聪": "12"
 },
 "60": {
  "title": "时尚网编辑中心",
  "方晴": "1",
  "贝学文": "2",
  "张志威": "3",
  "卢菊滢": "4",
  "林秋托": "5",
  "王莹": "6",
  "刘春鸣": "7",
  "杨日东": "8",
  "李雯婧": "9",
  "蔡苗": "10",
  "赵琦": "11",
  "秦进": "12"
 },
 "61": {
  "title": "数据中心",
  "裘远尘": "1",
  "刘健鸿": "2",
  "赵显玉": "3",
  "李学智": "4",
  "姬旭光": "5",
  "谢年财": "6",
  "徐睿泽": "7",
  "朱丽芳": "8",
  "王苏洲": "9",
  "徐帆": "10",
  "陈泽慧": "11",
  "莫嘉敏": "12"
 },
 "62": {
  "title": "网络系统部",
  "张荣耀": "1",
  "覃永安": "2",
  "关杰仁": "3",
  "余博嘉": "4",
  "陈雨": "5",
  "莫积淦": "6",
  "羊文琼": "7",
  "吴强": "8",
  "杨海华": "9",
  "王钧华": "10",
  "黄冬杰": "11",
  "陈贵初": "12"
 },
 "63": {
  "title": "汽车网渠道部",
  "王阳寒": "1",
  "陈前树": "2",
  "郑伟": "3",
  "欧英龙": "4",
  "黎绮君": "5",
  "李荣川": "6",
  "朱子迁": "7",
  "杨金源": "8",
  "赖逸才": "9",
  "吴凤儿": "10",
  "郭光景": "11",
  "张培伟": "12"
 },
 "64": {
  "title": "电脑网销售部",
  "何剑": "1",
  "许余江胜": "2",
  "谢娜": "3",
  "梁杏芬": "4",
  "徐晓妍": "5",
  "张晓君": "6",
  "曾映梅": "7",
  "陈志鹏": "8",
  "林敏": "9",
  "张惠雯": "10",
  "孔洁欣": "11",
  "邓延斌": "12"
 },
 "65": {
  "title": "电脑网编辑部",
  "邱少陶": "1",
  "梁宇健": "2",
  "李军海": "3",
  "洪嘉航": "4",
  "廖广坚": "5",
  "王家宝": "6",
  "魏小乐": "7",
  "温鉴东": "8",
  "汤梓聪": "9",
  "黄江盈": "10",
  "赖长青": "11",
  "周慧珊": "12"
 },
 "66": {
  "title": "时尚网编辑中心/移动团队",
  "倪昊": "1",
  "赵艺斐": "2",
  "吴怡": "3",
  "邱钧怡": "4",
  "钟嘉虹": "5",
  "熊婷婷": "6",
  "林琼美": "7",
  "文灿君": "8",
  "肖娜": "9",
  "张漾": "10",
  "毕岩": "11"
 },
 "67": {
  "title": "设计部",
  "谢丽珍": "1",
  "蒋兆鸿": "2",
  "邹海晴": "3",
  "王荧": "4",
  "陈双": "5",
  "黄明略": "6",
  "邓瑞君": "7",
  "何冠绫": "8",
  "张素华": "9",
  "姚琳漫": "10",
  "李晓旭": "11",
  "黎洁毅": "12"
 },
 "68": {
  "title": "设计部/网络系统部",
  "杜杰": "1",
  "陈婉敏": "2",
  "陆劼": "3",
  "莫汛铭": "4",
  "符方春": "5",
  "黄展毅": "6",
  "陈志明": "7",
  "叶伟伦": "8",
  "郭中州": "9",
  "陈俊辉": "10",
  "李燕霞": "11",
  "吴炜良": "12"
 },
 "69": {
  "title": "汽车网渠道部",
  "温朝斌": "1",
  "魏玉萍": "2",
  "李健财": "3",
  "许丹培": "4",
  "吴方成园": "5",
  "杨森林": "6",
  "黄秀宁": "7",
  "袁宝龙": "8",
  "谢纯亮": "9",
  "魏世坤": "10",
  "仲珊青": "11",
  "朱伟健": "12"
 },
 "70": {
  "title": "电脑网销售部",
  "刘益宇": "1",
  "周洁坚": "2",
  "赵莎莎": "3",
  "朱小燕": "4",
  "谢慧雄": "5",
  "王鹏江": "6",
  "黄凯欣": "7",
  "赖晓雪": "8",
  "梁艳": "9",
  "崔婵娟": "10",
  "谭均铭": "11",
  "罗秋令": "12"
 },
 "71": {
  "title": "电脑网销售部",
  "侯汉嫦": "1",
  "刘火英": "2",
  "林晓婷": "3",
  "黄坚桓": "4",
  "李丹英": "5",
  "简俊杰": "6",
  "张焕芳": "7",
  "张勇锋": "8",
  "曹琳琳": "9",
  "朱君": "10",
  "徐芬": "11",
  "李映烨": "12"
 },
 "72": {
  "title": "时尚网移动团队",
  "王珺": "1",
  "张洁": "2",
  "彭娟": "3",
  "周莎莉": "4",
  "林瑞雯": "5",
  "王思颖": "6",
  "马丽怡": "7",
  "冼伟钧": "8",
  "胡丞": "9",
  "谈敏": "10",
  "马星星": "11",
  "谢静霞": "12"
 },
 "73": {
  "title": "设计部",
  "卢道苇": "1",
  "欧阳永达": "2",
  "刘淑珍": "3",
  "潘楠颍": "4",
  "陈莹仪": "5",
  "陈楚菲": "6",
  "许倩": "7",
  "马春明": "8",
  "区冠祺": "9",
  "陈丽华": "10",
  "陈颖": "11",
  "麦耀棠": "12"
 },
 "74": {
  "title": "设计部",
  "王桂梅": "1",
  "吴泽瀚": "2",
  "陈宛军": "3",
  "茹碧珊": "4",
  "邓泽区": "5",
  "杜宇鹏": "6",
  "宁梦婷": "7",
  "李毅椿": "8",
  "翁振歆": "9",
  "孙标": "10",
  "袁健": "11",
  "葛晓浪": "12"
 },
 "75": {
  "title": "汽车网渠道部",
  "黄雅君": "1",
  "李柏慧": "2",
  "陈欣颖": "3",
  "林琳": "4",
  "伦金龙": "5",
  "马化成": "6",
  "金晓": "7",
  "谢惠如": "8",
  "张文玲": "9",
  "黄丹瑜": "10",
  "陈婵端": "11",
  "郭嘉明": "12"
 },
 "76": {
  "title": "时尚网移动团队/医美事业部",
  "朱琳": "1",
  "余雯汶": "2",
  "徐慧琪": "3",
  "王玲": "4",
  "曹翠月": "5",
  "危敏青": "6",
  "刘晓": "7",
  "季珊珊": "8",
  "王洋": "9",
  "马连艺": "10",
  "林雪芬": "11",
  "赵芮": "12"
 },
 "77": {
  "title": "设计部",
  "周善恒": "1",
  "何伯涛": "2",
  "邓宝仪": "3",
  "何志豪": "4",
  "陈皓妍": "5",
  "蓝坤城": "6",
  "黄荣涛": "7",
  "梁志朗": "8",
  "邹倩婷": "9",
  "王俊": "10",
  "李火珠": "11",
  "曾惠娟": "12"
 },
 "78": {
  "title": "汽车网渠道部",
  "沈毅": "1",
  "何静华": "2",
  "邹文婷": "3",
  "周娟": "4",
  "符骏鹏": "5",
  "胡旆": "6",
  "黄增苗": "7",
  "苏乐妮": "8",
  "赖威": "9",
  "陈少华": "10",
  "桂伦": "11",
  "李碧云": "12"
 },
 "79": {
  "title": "电脑网销售部/汽车网大客户部",
  "肖淑琦": "1",
  "温莹雅": "2",
  "廖姗姗": "3",
  "曾瑜欢": "4",
  "廖慧萍": "5",
  "谢帆": "6",
  "范子聪": "7",
  "刘金凤": "8",
  "佃晓洲": "9",
  "张雪浩": "10",
  "郭晓玲": "11",
  "张晓敏": "12"
 },
 "80": {
  "title": "时尚网销售中心",
  "孙明洁": "1",
  "刘皓": "2",
  "熊诗艺": "3",
  "孙宁宁": "4",
  "陈智薇": "5",
  "周星": "6",
  "欧邦柱": "7",
  "郑晶": "8",
  "顾学文": "9",
  "林紫芝": "10",
  "赵庆梅": "11",
  "吴咏虹": "12"
 },
 "81": {
  "title": "时尚网医美事业部/产品部/销售中心",
  "刘可欣": "1",
  "黎子倩": "2",
  "傅带娣": "3",
  "陈少薇": "4",
  "杜简妍": "5",
  "姜子杰": "6",
  "张滢": "7",
  "罗超": "8",
  "叶小凤": "9",
  "李晓欣": "10",
  "韩培荫": "11",
  "徐兴华": "12"
 },
 "82": {
  "title": "设计部",
  "刘艳": "1",
  "卢琪": "2",
  "曾文淼": "3",
  "杨欣": "4",
  "伦日铭": "5",
  "邓菲翠": "6",
  "罗爽": "7",
  "彭仙中": "8",
  "赖俊军": "9",
  "刘奕曦": "10",
  "吴怡颖": "11",
  "古璇": "12"
 },
 "83": {
  "title": "内部应用开发部/设计部",
  "霍志升": "1",
  "彭华杰": "2",
  "袁俊": "3",
  "王蔚宏": "4",
  "王晓丹": "5",
  "潘永胜": "6",
  "柯春茂": "7",
  "张捷婷": "8",
  "方晓慧": "9",
  "杨柳燕": "10",
  "吴婷": "11",
  "陈明": "12"
 },
 "84": {
  "title": "汽车网渠道部",
  "张腾": "1",
  "刘于咏": "2",
  "孙丽纯": "3",
  "李碧琴": "4",
  "李飞宇": "5",
  "夏婧": "6",
  "周灿": "7",
  "陈双一": "8",
  "丘瑜": "9",
  "高珍萍": "10",
  "王丽丽": "11",
  "凌海": "12"
 },
 "85": {
  "title": "汽车网大客户部",
  "杨宏利": "1",
  "容俊": "2",
  "黄丽斌": "3",
  "李德": "4",
  "石玥": "5",
  "王坚": "6",
  "邱春霞": "7",
  "徐春燕": "8",
  "陈靖": "9",
  "钟丽丽": "10",
  "黄钦": "11",
  "彭瑞强": "12"
 },
 "86": {
  "title": "时尚网销售中心/市场部/应用产品开发部",
  "谭佳玮": "1",
  "黎洁梅": "2",
  "梁艳萍": "3",
  "黄艳梅": "4",
  "杨琴": "5",
  "李梦思": "6",
  "王安宁": "7",
  "黄建华": "8",
  "吴全贵": "9",
  "徐莉": "10",
  "梁霞": "11",
  "郭公仆": "12"
 },
 "87": {
  "title": "应用产品开发部",
  "黄俊伟": "1",
  "麦文军": "2",
  "李峰": "3",
  "王建中": "4",
  "黎敏康": "5",
  "陈崇锜": "6",
  "钟伟民": "7",
  "丘海生": "8",
  "谢绍源": "9",
  "廖俊强": "10",
  "许建有": "11",
  "袁火青": "12"
 },
 "88": {
  "title": "广告支持中心/系统架构部",
  "卢连凤": "1",
  "陈汉川": "2",
  "王小红": "3",
  "张海波": "4",
  "杨家梁": "5",
  "廖教和": "6",
  "陈小虎": "7",
  "刘吴强": "8",
  "陈彪": "9",
  "梁兆广": "10",
  "黄文辉": "11",
  "陈源烛": "12"
 },
 "89": {
  "title": "广告支持中心/内部应用开发部/用户体验部",
  "龙利灿": "1",
  "刘立惠": "2",
  "晏忠仁": "3",
  "莫应超": "4",
  "谢婧": "5",
  "曾桓森": "6",
  "黄建城": "7",
  "程浩文": "8",
  "梁栋深": "9",
  "杨龙凤": "10",
  "饶恒": "11",
  "苏星林": "12"
 },
 "90": {
  "title": "汽车网渠道部/市场部",
  "陈晓燕": "1",
  "周宇": "2",
  "张华华": "3",
  "曾群卿": "4",
  "陈玉娴": "5",
  "蔡羽生": "6",
  "彭玉": "7",
  "孙嘉俐": "8",
  "孟鑫": "9",
  "邹佩珊": "10",
  "魏文壮": "11"
 },
 "91": {
  "title": "汽车网大客户部",
  "李翀": "1",
  "陈亚丽": "2",
  "陈彦伯": "3",
  "徐文彦": "4",
  "钟燕琴": "5",
  "梁楚敏": "6",
  "石朝先": "7",
  "顾青": "8",
  "王志成": "9",
  "暨勇祥": "10",
  "何俊逸": "11",
  "王溢": "12"
 },
 "92": {
  "title": "应用产品开发部",
  "林秋强": "1",
  "莫健雄": "2",
  "周凌欣": "3",
  "刘旭林": "4",
  "方锡锐": "5",
  "郭强": "6",
  "段林飞": "7",
  "尹嘉丽": "8",
  "李耀豪": "9",
  "李欢欢": "10",
  "赖子粼": "11",
  "谢思华": "12"
 },
 "93": {
  "title": "应用产品开发部",
  "张广文": "1",
  "陈礼强": "2",
  "钟道侨": "3",
  "谢资亮": "4",
  "何科": "5",
  "林显强": "6",
  "唐辉": "7",
  "周欢员": "8",
  "霍铭祥": "9",
  "黄伟炼": "10",
  "王思": "11",
  "黄诚维": "12"
 },
 "94": {
  "title": "DBA/测试部/广告支持中心",
  "张绍峰": "1",
  "黄普作": "2",
  "黎世贤": "3",
  "陈余盛": "4",
  "潘思嘉": "5",
  "温婷婷": "6",
  "叶艳花": "7",
  "邓锦添": "8",
  "郭宪强": "9",
  "徐文祥": "10",
  "赵玲": "11",
  "蔡国宇": "12"
 },
 "95": {
  "title": "用户体验部/平台产品开发部",
  "黎瑜瑜": "1",
  "陈希": "2",
  "陈姗姗": "3",
  "陈静雨": "4",
  "蓝先鸿": "5",
  "王奔": "6",
  "易杰行": "7",
  "郑嘉熙": "8",
  "曾杰": "9",
  "黄平": "10",
  "陈昶": "11",
  "张卓坚": "12"
 },
 "96": {
  "title": "应用产品开发部",
  "张旭娟": "1",
  "吴远博": "2",
  "徐家浩": "3",
  "李成武": "4",
  "张良民": "5",
  "范峰毓": "6",
  "罗泽武": "7",
  "胡美菊": "8",
  "林瑞畅": "9",
  "倪东红": "10",
  "陈泰年": "11",
  "周天槐": "12"
 },
 "97": {
  "title": "应用产品开发部",
  "詹振超": "1",
  "刘桥伟": "2",
  "肖数斌": "3",
  "王杰铨": "4",
  "黄星": "5",
  "邓劲波": "6",
  "张燕君": "7",
  "董健禧": "8",
  "林凯燕": "9",
  "杜好": "10",
  "黄庆河": "11",
  "蔡金浩": "12"
 },
 "98": {
  "title": "DBA/测试部",
  "袁媛": "1",
  "钟雪艳": "2",
  "唐勇": "3",
  "李思亮": "4",
  "周馥香": "5",
  "刘娟": "6",
  "张菊婷": "7",
  "张旭鑫": "8",
  "赵汝均": "9",
  "刘庆元": "10",
  "冯迪科": "11",
  "李飞波": "12"
 },
 "99": {
  "title": "平台产品开发部",
  "吕丁勤": "1",
  "罗灿": "2",
  "陈凯浩": "3",
  "邹麟瑞": "4",
  "罗振夫": "5",
  "杨攀": "6",
  "黄文昌": "7",
  "陈喆晖": "8",
  "陈卓林": "9",
  "冯潭送": "10",
  "邓力铭": "11",
  "赖会聪": "12"
 },
 "100": {
  "title": "应用产品开发部",
  "周宇飞": "1",
  "周儒轩": "2",
  "王晓杰": "3",
  "黄文杰": "4",
  "黄冠传": "5",
  "顾恒鸿": "6",
  "江林东": "7",
  "潘领廉": "8",
  "黄少彪": "9",
  "蒋远龙": "10",
  "周泽建": "11",
  "薛圣": "12"
 },
 "101": {
  "title": "DBA/测试部",
  "蔡凯锐": "1",
  "何芬": "2",
  "汪祥": "3",
  "江贇": "4",
  "邱亚秋": "5",
  "冼淑燕": "6",
  "刘有军": "7",
  "胡英梅": "8",
  "司乾伟": "9",
  "梅梦婷": "10",
  "黄淑怡": "11",
  "王敏敏": "12"
 },
 "102": {
  "title": "DBA/测试部",
  "钟朋里": "1",
  "马万里": "2",
  "青绕藏格": "3",
  "郭维": "4",
  "王家利": "5",
  "陈金华": "6",
  "郑巧敏": "7",
  "王雪晴": "8",
  "陈玲": "9",
  "詹国庆": "10",
  "周锦威": "11",
  "沈秋碧": "12"
 }
}

</script>
<script type="text/javascript">
$('input').on('change',function(e){
  var v = this.value
  var rz = ''
  Object.keys(d).forEach(function(n){
    if(n)return;
    if(Object.keys(d[n]).indexOf(v) > 0)rz = n;
  })
  $('li').css({
    bacground:'#f3f3f3',
    color:'#333'
  })
  $('li').eq(+n).css({
    bacground:'#f22',
    color:'#fff'
  })
})
var id = ''
  $('li').click(function() {
    var _this=$(this);
    var span = _this.find('span')
    if(_this.hasClass('cur')){
      _this.removeClass('cur')
      span.html(id)
    }else{
      id = span.html()
      _this.addClass('cur')
      span.html(Object.keys(d[id]).join('<br/>').replace('title',''))
    }
  });
</script>
</body>
</html>